<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">
<th:block th:replace="layout :: head('アカウント登録')"/>
<body>

<th:block th:replace="layout :: header"/>

<main class="w-2/5 mx-auto">
    <div class="w-full flex justify-center my-10 ">
        <h1 class="w-11/12 py-1.5 text-center text-4xl font-bold border-b-2 border-primary">アカウント登録</h1>
    </div>

    <form th:action="@{/account/registration}" method="post">
        <div th:object="${registerAccount}">
            <label for="name">名前</label>
            <input type="text" id="name" th:field="*{name}">
            <p th:errors="*{name}"></p>

            <label for="mail">メールアドレス</label>
            <input type="text" id="mail" th:field="*{mail}">
            <p th:errors="*{mail}"></p>

            <label for="category">区分</label>
            <select id="category" th:field="*{category}">
                <option th:each="accountCategory : ${accountCategories}"
                        th:text="${accountCategory.text}"
                        th:value="${accountCategory.toString()}">テキスト</option>
            </select>
            <p th:errors="*{category}"></p>
        </div>
        <button type="submit" name="add">追加</button>

        <div th:each="value, status: ${registerAccountList.values}" th:object="${registerAccountList}">
            <p th:text="${value.name}"></p>
            <p th:text="${value.mail}"></p>
            <p th:text="${value.category.text}"></p>
            <input type="text" th:field="*{values[__${status.index}__].name}" hidden aria-label="">
            <input type="text" th:field="*{values[__${status.index}__].mail}" hidden aria-label="">
            <input type="text" th:field="*{values[__${status.index}__].category}" hidden aria-label="">
            <button type="submit" name="remove" th:value="${status.index}">×</button>
        </div>

        <button type="submit" name="confirm">確認</button>
    </form>
</main>

</body>
</html>
<th:block th:replace="layout :: scripts"/>
