<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">
<th:block th:replace="layout :: head('アカウント登録')"/>
<body>

<th:block th:replace="layout :: header"/>

<main class="w-2/5 mx-auto">
    <div class="w-full flex justify-center my-10 ">
        <h1 class="w-11/12 py-1.5 text-center text-4xl font-bold border-b-2 border-primary">アカウント登録</h1>
    </div>

    <form th:action="@{/account/registration}" method="post" th:object="${registerAccountList}">
        <div th:each="registerAccount, status: *{values}">
            <input type="text" th:field="*{values[__${status.index}__].name}" aria-label="">
            <input type="text" th:field="*{values[__${status.index}__].mail}" aria-label="">
            <input type="text" th:field="*{values[__${status.index}__].category}" aria-label="">
        </div>
        <button type="submit">送信</button>
    </form>
</main>

</body>
</html>
<th:block th:replace="layout :: scripts"/>
