<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">
<th:block th:replace="layout :: head('備品編集')"/>
<body>

<th:block th:replace="layout :: header"/>

<main class="w-2/5 mx-auto">
    <div class="w-full flex justify-center my-10 ">
        <h1 class="w-11/12 py-1.5 text-center text-4xl font-bold border-b-2 border-primary">備品編集</h1>
    </div>

    <form th:action="@{/equipment/edit}" method="post">
        <div th:object="${editEquipment}">
            <input type="number" id="id" th:field="*{id}" min="1" hidden>

            <div>
                <label for="name">備品名</label>
                <input type="text" id="name" th:field="*{name}">
                <p th:errors="*{name}"></p>
            </div>

            <div>
                <label for="category">種類</label>
                <input type="text" id="category" list="category-list" th:field="*{category}">
                <datalist id="category-list">
                    <option th:each="equipmentCategory : ${equipmentCategoryList}"
                            th:text="${equipmentCategory.name}"
                            th:value="${equipmentCategory.name}">カテゴリ
                    </option>
                </datalist>
                <p th:errors="*{category}"></p>
            </div>

            <div>
                <label for="storageLocation">保管場所</label>
                <input type="text" id="storageLocation" list="storageLocation-list" th:field="*{storageLocation}">
                <datalist id="storageLocation-list">
                    <option th:each="storageLocation : ${storageLocationList}"
                            th:text="${storageLocation.name}"
                            th:value="${storageLocation.name}">保管場所
                    </option>
                </datalist>
                <p th:errors="*{category}"></p>
            </div>

            <div>
                <input type="checkbox" id="hasLendingPeriod" th:field="*{hasLendingPeriod}">
                <input type="checkbox" id="hasNotificationDate" th:field="*{hasNotificationDate}" hidden aria-label>
                <label for="hasLendingPeriod">貸出期間と通知日を設定する</label>
            </div>

            <div>
                <label for="lendingPeriod">貸出期間</label>
                <input type="number" id="lendingPeriod" th:field="*{lendingPeriod}" min="1" hidden>日
                <p th:errors="*{lendingPeriod}"></p>
            </div>

            <div>
                <label for="notificationDate">通知日</label>
                <input type="number" id="notificationDate" th:field="*{notificationDate}" min="1" hidden>日前
                <p th:errors="*{notificationDate}"></p>
            </div>

            <div>
                <label for="remark">備考</label>
                <textarea type="text" id="remark" th:field="*{remark}"></textarea>
                <p th:errors="*{remark}"></p>
            </div>

            <div>
                <label for="editReason">編集事由</label>
                <textarea type="text" id="editReason" th:field="*{editReason}"></textarea>
                <p th:errors="*{editReason}"></p>
            </div>
        </div>

        <button type="submit" name="confirm">確認</button>
    </form>
</main>
</body>
</html>

<th:block th:replace="layout :: scripts"/>
<script src="/js/equipment/edit.js"></script>

