<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">
<th:block th:include="layout :: head(備品一覧)"/>
<head>
    <link rel="stylesheet" type="text/css" href="/css/equipment/list.css">
</head>

<body>
<th:block th:replace="layout :: header(false)"/>

<th:block th:if="${successMessage}">
    <th:block th:replace="layout :: success-dialog(${successMessage})"></th:block>
</th:block>

<th:block th:if="${errorMessage}">
    <th:block th:replace="layout :: error-dialog(${errorMessage})"></th:block>
</th:block>

<main>
    <h1 class="title">備品一覧</h1>

    <form th:action="@{/equipment/list}" method="post" th:object="${equipmentSearchCriteria}">
        <div class="form-content">
            <input class="form-input" type="text" th:field="*{name}" placeholder="検索" maxlength="255" aria-label>
            <p class="form-error" th:errors="*{name}"></p>
        </div>

        <div>
            <p class="category-label">備品区分</p>
            <th:block th:each="equipmentCategory, status : ${equipmentCategoryList}">
                <label th:for="'equipmentCategoryIdList' + ${status.index + 1}"
                       th:text="${equipmentCategory.name}">カテゴリ</label>
                <input type="checkbox"
                       th:field="*{equipmentCategoryIdList}"
                       th:value="${equipmentCategory.id}" aria-label>
            </th:block>
            <p th:errors="*{equipmentCategoryIdList}"></p>
        </div>

        <div class="status">
            <p class="status-label">状態</p>
            <th:block th:each="equipmentState, status : ${equipmentStateList}">
                <label th:for="'equipmentStateList' + ${status.index + 1}"
                       th:text="${equipmentState.text}">状態</label>
                <input type="checkbox"
                       th:field="*{equipmentStateList}"
                       th:value="${equipmentState}" aria-label>
            </th:block>
            <p th:errors="*{equipmentStateList}"></p>
        </div>
        <button type="submit" class="search-button">検索</button>
    </form>

    <div th:each="equipment : ${equipmentList}">
        <div class="list-content">
            <div class="list-top">
                <p th:text="${equipment.id}">id</p>
                <th:block sec:authorize="hasAnyRole('EQUIPMENT_MANAGER', 'SYSTEM_MANAGER')">
                    <a href="@">編集</a>
                </th:block>
            </div>

            <a href="@" th:text="${equipment.name}">name</a>

            <div class="list-bottom">
                <div class="list-bottom-left">
                    <p>貸出期間</p>
                    <p>
                        <th:block th:if="${equipment.lendingPeriod == -1}">
                            &nbsp;-&nbsp;日
                        </th:block>
                        <th:block th:if="${equipment.lendingPeriod != -1}">
                            <span th:text="${equipment.lendingPeriod}">lendingPeriod</span>&nbsp;日
                        </th:block>
                    </p>
                </div>

                <div class="list-bottom-right">
                    <th:block th:if="${equipment.state.toString() == 'AVAILABLE_FOR_LOAN'}">
                        <div class="available-for-loan-icon"></div>
                        <p th:text="${equipment.state.text}"></p>
                    </th:block>
                    <th:block th:if="${equipment.state.toString() == 'ON_LOAN'}">
                        <div class="on-loan-icon"></div>
                        <p th:text="${equipment.state.text}"></p>
                    </th:block>
                    <th:block th:if="${equipment.state.toString() == 'NOT_AVAILABLE_FOR_LOAN'}">
                        <div class="not-available-for-loan-icon"></div>
                        <p th:text="${equipment.state.text}"></p>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
<th:block th:replace="layout :: scripts"/>
