<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">
<th:block th:include="layout :: head(備品登録)"/>
<head>
    <link rel="stylesheet" type="text/css" href="/css/equipment/registration.css">
</head>

<body>
<th:block th:replace="layout :: header(false)"/>

<main>
    <h1 class="title">備品登録</h1>

    <form th:action="@{/equipment/registration}" method="post">
        <div th:object="${registerEquipment}">
            <div class="form-content">
                <label for="name" class="form-label">品名</label>
                <input type="text" id="name" class="form-input" th:field="*{name}" placeholder="品名" autofocus>
                <p class="form-error" th:errors="*{name}"></p>
            </div>

            <div class="form-content">
                <label for="category" class="form-label">種類</label>
                <input type="text" id="category" list="category-list" class="form-input" th:field="*{category}" placeholder="種類">
                <datalist id="category-list">
                    <option th:each="equipmentCategory : ${equipmentCategoryList}"
                            th:text="${equipmentCategory.name}"
                            th:value="${equipmentCategory.name}">カテゴリ
                    </option>
                </datalist>
                <p class="form-error" th:errors="*{category}"></p>
            </div>

            <div class="form-content">
                <label for="storageLocation" class="form-label">保管場所</label>
                <input type="text" id="storageLocation" list="storageLocation-list" class="form-input"
                       th:field="*{storageLocation}" placeholder="保管場所">
                <datalist id="storageLocation-list">
                    <option th:each="storageLocation : ${storageLocationList}"
                            th:text="${storageLocation.name}"
                            th:value="${storageLocation.name}">保管場所
                    </option>
                </datalist>
                <p class="form-error" th:errors="*{category}"></p>
            </div>

            <div class="has-lending-period-content">
                <input type="checkbox" id="hasLendingPeriod" th:field="*{hasLendingPeriod}">
                <input type="checkbox" id="hasNotificationDate" th:field="*{hasNotificationDate}" hidden aria-label>
                <label for="hasLendingPeriod">貸出期間と通知日を設定する</label>
            </div>

            <div class="form-content-row">
                <div class="form-content lending-period-form">
                    <label for="lendingPeriod" class="form-label">貸出期間</label>
                    <div class="lending-period-group">
                        <input type="number" id="lendingPeriod" class="form-input" th:field="*{lendingPeriod}" min="1" disabled>
                        <span>&nbsp;日</span>
                    </div>
                    <p class="form-error" th:errors="*{lendingPeriod}"></p>
                </div>

                <div class="form-content notification-form">
                    <label for="notificationDate" class="form-label">通知日</label>
                    <div class="notification-date-group">
                        <input type="number" id="notificationDate" class="form-input" th:field="*{notificationDate}"
                               min="1" disabled>
                        <span>&nbsp;日前</span>
                    </div>
                    <p class="form-error" th:errors="*{notificationDate}"></p>
                </div>
            </div>

            <div class="form-content">
                <label for="remark" class="form-label">備考</label>
                <textarea type="text" id="remark" class="form-input" th:field="*{remark}" placeholder="備考"></textarea>
                <p class="form-error" th:errors="*{remark}"></p>
            </div>
        </div>
        <button type="submit" id="addButton" name="add" class="add-button">追加</button>

        <div th:each="value, status: ${registerEquipmentList.values}" th:object="${registerEquipmentList}">
            <div class="list-content">
                <div class="list-top">
                    <div class="list-top-row">
                        <span th:text="${value.category}">category</span>
                        <span>&nbsp;</span>
                        <span th:text="${value.storageLocation}">storageLocation</span>
                    </div>
                    <button type="submit" name="remove" class="delete-button" th:value="${status.index}">削除</button>
                </div>

                <p class="list-title" th:text="${value.name}">name</p>

                <div class="list-bottom">
                    <div class="list-bottom-row">
                        <div class="list-bottom-box">
                            <p>貸出期間</p>
                            <div>
                                <span th:text="${value.lendingPeriod}"></span>
                                <span>&nbsp;日</span>
                            </div>
                        </div>
                        <div class="list-bottom-box">
                            <p>通知日</p>
                            <div>
                                <span th:text="${value.notificationDate}"></span>
                                <span>&nbsp;日前</span>
                            </div>
                        </div>
                    </div>

                    <p>備考</p>
                    <p th:text="${value.remark}">remark</p>
                </div>
            </div>

            <input type="text" th:field="*{values[__${status.index}__].name}" hidden aria-label>
            <input type="text" th:field="*{values[__${status.index}__].category}" hidden aria-label>
            <input type="text" th:field="*{values[__${status.index}__].storageLocation}" hidden aria-label>
            <input type="checkbox" th:field="*{values[__${status.index}__].hasLendingPeriod}" hidden aria-label>
            <input type="number" th:field="*{values[__${status.index}__].lendingPeriod}" hidden aria-label>
            <input type="checkbox" th:field="*{values[__${status.index}__].hasNotificationDate}" hidden aria-label>
            <input type="number" th:field="*{values[__${status.index}__].notificationDate}" hidden aria-label>
            <input type="text" th:field="*{values[__${status.index}__].remark}" hidden aria-label>
        </div>
        <button type="submit" name="confirm" class="submit-button">確認</button>
    </form>
</main>

</body>
</html>
<th:block th:replace="layout :: scripts"/>
<script src="/js/equipment/registration.js"></script>
