<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">
<th:block th:replace="layout :: head('貸出申請')"/>
<body>

<th:block th:replace="layout :: header"/>

<main class="w-2/5 mx-auto">
    <div class="w-full flex justify-center my-10 ">
        <h1 class="w-11/12 py-1.5 text-center text-4xl font-bold border-b-2 border-primary">借りる</h1>
    </div>

    <form action="#" class="pt-1 pb-12">
        <div class="flex justify-between items-center my-5 px-1 border-4 border-primary rounded-full bg-white">
            <a href="#">
                <div class="flex justify-center items-center bg-secondary rounded-full w-9 h-9">
                    <img src="/images/camera-icon.png" alt="カメラアイコン" class="w-3/5 h-3/5">
                </div>
            </a>

            <input type="number" name="mail" placeholder="バーコードをスキャン、または入力" id="idInput"
                   aria-label="idInput" required
                   class="w-full px-3 py-2 text-center outline-0">

            <button type="submit" id="addButton"
                    class="flex justify-center items-center bg-secondary rounded-full w-9 h-9">
                <div>
                    <div class="relative w-6 h-1.5 rounded-full bg-white" style="top: 0.1875rem"></div>
                    <div class="relative w-6 h-1.5 rounded-full bg-white rotate-90" style="top: -0.1875rem"></div>
                </div>
            </button>
        </div>
        <div class="flex justify-center items-center text-error">
            <span id="errorMessage">Error Message</span>
            <span id="emptyMessage">Empty Message</span>
        </div>
    </form>

    <div id="equipment-list">
        <!-- 追加ボタンが押されると、ここに備品情報が追加される。 -->
    </div>

    <form th:action="@{/checkout/application}" method="post" th:object="${checkoutApplicationForm}">
        <input type="hidden" th:field="*{json}" id="form-equipment-list">
        <input type="hidden" th:field="*{mail}">
        <div class="flex justify-center my-10">
            <button type="submit"
                    class="px-20 py-2 text-primary font-semibold rounded-full bg-secondary whitespace-nowrap">申請
            </button>
        </div>
    </form>
</main>

</body>
</html>
<th:block th:replace="layout :: scripts"/>
<script th:inline="javascript">
    const equipmentList = /*[[${equipmentList}]]*/"equipmentList";
</script>
<script src="/js/checkout/checkout-application.js"></script>