<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">
<th:block th:replace="layout :: head(パスワードリセット)"/>
<body>

<th:block th:if="${message}" th:object="${message}">
    <th:block th:replace="layout :: message(*{category()}, *{content()})" />
</th:block>
<th:block th:replace="layout :: header"/>

<main class="w-2/5 mx-auto">
    <div class="w-full flex justify-center my-10">
        <h1 class="w-11/12 py-1.5 text-center text-4xl font-bold border-b-2 border-primary">パスワード変更</h1>
    </div>

    <p class="flex justify-center">以下のメールアドレスに</p>
    <p class="flex justify-center">パスワード変更リンクを送信します</p>

    <form action="#" method="post">

    </form>
</main>
</body>
</html>
<th:block th:replace="layout :: scripts" />