<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">
<!-- 画面確認用<head> -->
<head>
    <meta charset="UTF-8">
    <title>パスワードリセット</title>
    <link type="text/css" href="../../static/css/tailwind.css" rel="stylesheet">
    <link type="text/css" href="../../static/css/common.css" rel="stylesheet">
</head>

<th:block th:replace="layout :: head(パスワードリセット)"/>
<body>

<th:block th:if="${message}" th:object="${message}">
    <th:block th:replace="layout :: message(*{category()}, *{content()})" />
</th:block>
<th:block th:replace="layout :: header"/>

<main class="w-2/5 min-w-96 mx-auto">

</main>
</body>
</html>