<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>返却申請</title>
</head>
<link th:href="@{/css/popup.css}" rel="stylesheet">
<body>
<h1>返却申請</h1>

<form action="#">
    <input type="number" id="idInput" aria-label="idInput">
    <button type="submit" id="addButton">+</button>
</form>

<div id="errorMessage">Error Message</div>
<div id="emptyMessage">Empty Message</div>

<div id="equipment-list">
    <!-- 追加ボタンが押されると、ここに備品情報が追加される。 -->
</div>

<form th:action="@{/return/application}" method="post" th:object="${returnApplicationForm}">
    <input type="hidden" th:field="*{json}" id="form-equipment-list">
    <input type="hidden" th:field="*{damageList}" id="form-damage-list">
    <input type="hidden" th:field="*{mail}">
    <button type="submit">申請</button>
</form>

<!--
ポップアップ用の入力欄
TODO:HTMlの修正
-->
<div id="overlay" class="overlay"></div>
<div id="popup" class="popup">
    <div id="popup-content" class="popup-content">
        <div id="selected-equipment-id"></div>
        <div id="equipment-name-input">備品名</div>
        <form action="#">
            <input type="hidden" id="hidden-input">
            <label>
                <input type="checkbox" value="1" id="is-damage">破損/汚損あり
            </label>
            <textarea id="damage-reason-input"></textarea>
            <button id="edit-complete">完了</button>
        </form>
    </div>
</div>

</body>
</html>
<script th:inline="javascript">
    const equipmentList = /*[[${equipmentList}]]*/"equipmentList";
</script>
<script src="/js/return/return-application.js"></script>
