<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">

<th:block th:fragment="head-component(title)">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">Title</title>
        <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
    </head>
</th:block>

<body>

<!--
    使用例)
    <th:block th:replace="component :: h-component('ログイン')" />
-->
<th:block th:fragment="h-component(label)">
    <div class="w-full flex justify-center my-10 ">
        <h1 th:text="${label}"
            class="w-11/12 py-1.5 text-center text-4xl font-bold border-b-2 border-primary">
            label
        </h1>
    </div>
</th:block>

<!--
    使用例)
    <th:block th:replace="component :: input-component('text', 'mail', 'メールアドレス *', '入力項目に誤りがあります。')" />
-->
<th:block th:fragment="input-component(type, name, label, error)">
    <div class="my-5">
        <label th:for="${name}"
               class="w-full ml-3 text-sm text-gray" th:text="${label}">label
        </label>
        <input th:type="${type}" th:name="${name}" th:placeholder="${label}" th:id="${name}"
               class="w-full py-2 text-center border-4 border-primary outline-0 rounded-md bg-white">
        <div th:text="${error}"
             class="mt-1.5 text-center text-sm text-error">error
        </div>
    </div>
</th:block>

<!--
    使用例)
    <th:block th:replace="component :: button-component('submit', 'ログイン')" />
-->
<th:block th:fragment="button-component(type, label)">
    <div class="flex justify-center my-10">
        <button th:type="${type}" th:text="${label}"
                class="px-20 py-2 text-primary font-semibold rounded-full bg-secondary ">label
        </button>
    </div>
</th:block>

</body>
</html>