<!DOCTYPE html>
<html lang="ja">
<th:block th:fragment="head(title)">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">タイトル</title>
        <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
    </head>
</th:block>
<body>
<th:block th:fragment="header">
    <header class="w-10/12 h-9 flex justify-between items-center mx-auto mt-3 mb-5">
        <a href="#" sec:authorize="isAnonymous()" class="text-primary underline">返却はこちら</a>

        <a href="#" sec:authorize="isAuthenticated()" class="w-fit h-fit">
            <div class="w-9 h-2 rounded-full bg-secondary"></div>
            <div class="w-9 h-2 mt-1 rounded-full bg-secondary"></div>
            <div class="w-9 h-2 mt-1 rounded-full bg-secondary"></div>
        </a>

        <div sec:authorize="isAuthenticated()">
            <a href="#" class="flex justify-center items-center">
                <span class="text-gray">アカウント名</span>
                <div class="flex justify-center items-center ml-2 bg-secondary rounded-full w-9 h-9">
                    <img src="/images/AccountIcon.png" alt="アカウントアイコン" class="w-3/5 h-3/5">
                </div>
            </a>
        </div>
    </header>
</th:block>
</body>
</html>