<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">タイトル</title>
    <link rel="stylesheet" type="text/css" href="/css/common/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/common/header.css">
    <link rel="stylesheet" type="text/css" href="/css/common/dialog.css">
</head>

<header th:fragment="header">
    <div class="header-left">
        <th:block sec:authorize="isAnonymous()">
            <a class="link" th:href="@{/return/application}">返却はこちら</a>
        </th:block>

        <th:block sec:authorize="isAuthenticated()">
            <button id="hamburger-menu">
                <div class="hamburger-line" id="top-hamburger-line"></div>
                <div class="hamburger-line" id="middle-hamburger-line"></div>
                <div class="hamburger-line" id="bottom-hamburger-line"></div>
            </button>
        </th:block>
    </div>

    <div class="header-right">
        <th:block sec:authorize="isAuthenticated()">
            <a class="mail" th:text="${mail}">xxx@mail.com</a>
        </th:block>
    </div>

    <th:block sec:authorize="isAuthenticated()">
        <nav id="header-menu">
            <ul>
                <th:block>
                    <li><a class="header-content" id="checkout" th:href="@{/checkout/application}">借りる</a></li>
                    <li><a class="header-content" id="return" th:href="@{/return/application}">返す</a></li>
                    <li><a class="header-content" th:href="@{/equipment/list}">備品一覧</a></li>
                </th:block>

                <th:block sec:authorize="hasAnyRole('EQUIPMENT_MANAGER', 'SYSTEM_MANAGER')">
                    <li><a class="header-content" th:href="@{/equipment/registration}">備品登録</a></li>
                </th:block>

                <th:block sec:authorize="hasRole('SYSTEM_MANAGER')">
                    <li><a class="header-content" th:href="@{/account/registration}">アカウント登録</a></li>
                    <li><a class="header-content" th:href="@{/student/registration}">生徒登録</a></li>
                </th:block>

                <th:block>
                    <li>
                        <form class="header-content" th:action="@{/logout}" method="post">
                            <button type="submit">ログアウト</button>
                        </form>
                    </li>
                </th:block>
            </ul>
        </nav>
    </th:block>
</header>

<div class="dialog" th:fragment="success-dialog(message)">
    <div class="success-icon">
        <img src="/images/check-icon.png" alt="チェックアイコン">
    </div>
    <p th:text="${message}">メッセージ</p>
</div>

<div class="dialog" th:fragment="error-dialog(message)">
    <div class="error-icon">
        <img src="/images/check-icon.png" alt="バツアイコン">
    </div>
    <p th:text="${message}">メッセージ</p>
</div>

</html>

<th:block th:fragment="scripts">
    <script src="/js/header-menu.js"></script>
    <!--    <script src="/js/label.js"></script>-->
</th:block>
