<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">
<th:block th:include="layout :: head(ログイン)"/>
<head>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
<th:block th:replace="layout :: header"/>

<th:block th:if="${errorMessage}">
    <th:block th:replace="layout :: error-dialog(${errorMessage})"></th:block>
</th:block>

<main>
    <h1 class="title">ログイン</h1>

    <form th:action="@{/login}" method="post">
        <div class="form-content">
            <label for="mail">メールアドレス</label>
            <input type="email" id="mail" name="mail" placeholder="メールアドレス" required>
        </div>

        <div class="form-content">
            <label for="password">パスワード</label>
            <input type="password" id="password" name="password" placeholder="パスワード" required>
        </div>

        <button type="submit">ログイン</button>
        <a th:href="@{/password_reset}" class="password-reset">パスワードを忘れた方はこちら</a>
    </form>
</main>

</body>
</html>
<th:block th:replace="layout :: scripts" />
