<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">
<th:block th:replace="layout :: head(ログイン)"/>
<body>

<th:block th:if="${message}" th:object="${message}">
    <th:block th:replace="layout :: message(*{category()}, *{content()})" />
</th:block>
<th:block th:replace="layout :: header"/>

<main class="w-2/5 mx-auto">
    <div class="w-full flex justify-center my-10 ">
        <h1 class="w-11/12 py-1.5 text-center text-4xl font-bold border-b-2 border-primary">ログイン</h1>
    </div>

    <form th:action="@{/login}" method="post">
        <div class="flex my-2">
            <a href="#" class="flex justify-center items-center">
                <div class="flex justify-center items-center bg-secondary rounded-full w-9 h-9">
                    <img src="/images/camera-icon.png" alt="カメラアイコン" class="w-3/5 h-3/5">
                </div>
                <span class="ml-2 text-primary underline">顔認証でログイン</span>
            </a>
        </div>

        <div class="my-5">
            <label for="mail"
                   class="w-full ml-3 text-sm text-gray">メールアドレス&nbsp;<span class="text-primary">*</span>
            </label>
            <input type="email" name="mail" placeholder="メールアドレス" id="mail" required
                   class="w-full py-2 text-center border-4 border-primary outline-0 rounded-md bg-white">
        </div>

        <div class="my-5">
            <label for="password"
                   class="w-full ml-3 text-sm text-gray">パスワード&nbsp;<span class="text-primary">*</span>
            </label>
            <input type="password" name="password" placeholder="パスワード" id="password" required
                   class="w-full py-2 text-center border-4 border-primary outline-0 rounded-md bg-white">
        </div>

        <div class="flex justify-center mt-10 mb-5">
            <button type="submit"
                    class="px-20 py-2 text-primary font-semibold rounded-full bg-secondary whitespace-nowrap">ログイン
            </button>
        </div>

        <div class="flex justify-center">
            <a th:href="@{/password_reset}" class="text-primary underline">パスワードを忘れた方はこちら</a>
        </div>
    </form>
</main>
</body>
</html>
<th:block th:replace="layout :: scripts" />