<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">
<th:block th:include="layout :: head(パスワードリセット)"/>
<head>
    <link rel="stylesheet" type="text/css" href="/css/password_reset.css">
</head>

<body>
<th:block th:replace="layout :: header(false)"/>

<main>
    <h1 class="title">パスワードリセット</h1>

    <div class="description">
        <p>入力したメールアドレスに</p>
        <p>パスワード変更リンクを送信します。</p>
    </div>

    <form th:action="@{/password_reset}" method="post">
        <div class="form-content">
            <label for="mail" class="form-label">メールアドレス</label>
            <input type="email" id="mail" class="form-input" name="mail" placeholder="メールアドレス" required>
        </div>

        <button type="submit" class="submit-button">送信</button>
        <a th:href="@{/login}" class="cancel">キャンセル</a>
    </form>
</main>

</body>
</html>
<th:block th:replace="layout :: scripts" />
