<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>login_top</title>
</head>
<body>
    <header>
        <a href="#">返却はこちら</a>
    </header>
    <main>
        <h1>ログイン</h1>
        <div>
            <img src="../../static/images/camera.png" alt="顔認証のボタン">
            <a href="#">顔認証でログイン</a>
        </div>
        <form method="post">
            <label>
                <input type="text" name="email" placeholder="メールアドレス　*">
            </label>
            <label>
                パスワード<input type="password" name="password">
            </label>
            <button type="submit">ログイン</button>
        </form>
        <a href="#">パスワードを忘れた方はこちら</a>
    </main>
</body>
</html>