<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/site_common.css">
    <link rel="stylesheet" href="../css/login_top.css">
    <title>ログイン</title>
</head>
<body>
    <header>
        <a href="#">返却はこちら</a>
    </header>
    <main>
        <h1>ログイン</h1>
        <div class="page">
            <div class="face">
                <div id="circle">
                    <div id="img">
                        <img src="../../static/images/camera.png" alt="顔認証のボタン">
                    </div>
                </div>
                <a href="#">顔認証でログイン</a>
            </div>
            <form method="post" class="flex-content">
                <div class="contents">
                    <label for="email"></label>
                    <input type="text" name="email" class="form" placeholder="メールアドレス　*" id="email" required>
                </div>
                <br>
                <div class="contents">
                    <label for="password" class="password">
                        パスワード<br>
                    </label>
                    <input type="password" name="password" class="form" id="password" required>
                </div>
                <br>
                    <input type="submit" value="ログイン" class="button">
            </form>
            <div class="password">
                <a href="#">パスワードを忘れた方はこちら</a>
            </div>
        </div>
    </main>
</body>
</html>