<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">
<th:block th:include="layout :: head(返却申請)"/>
<head>
    <link rel="stylesheet" type="text/css" href="/css/return/application.css">
</head>

<body>
<th:block th:replace="layout :: header(true)"/>

<main>
    <h1 class="title">返す</h1>

    <form th:action="@{/return/application}" method="post">
        <div th:object="${returnEquipment}">
            <div class="form-content">
                <input class="form-input" type="number" th:field="*{equipmentId}"
                       placeholder="バーコードをスキャン、または入力" aria-label>
                <p class="form-error" th:errors="*{equipmentId}"></p>
                <p class="form-error" th:if="${errorMessage}" th:text="${errorMessage}"></p>
            </div>

            <div class="form-content has-damaged-content">
                <input type="checkbox" class="form-checkbox" id="hasDamaged" th:field="*{hasDamaged}">
                <label for="hasDamaged" class="form-label">汚損/破損あり</label>
            </div>

            <div class="form-content">
                <textarea th:field="*{damagedReason}" id="damagedReason" class="form-textarea"
                          placeholder="汚損/破損事由を入力" disabled aria-label>
                </textarea>
            </div>
        </div>
        <button type="submit" name="add" class="add-button">追加</button>

        <div th:each="value, status: ${returnEquipmentList.values}" th:object="${returnEquipmentList}">
            <div class="list-content">
                <div class="list-top">
                    <p th:text="${value.equipment.id}">id</p>
                    <button type="submit" name="remove" class="delete-button" th:value="${status.index}">×</button>
                </div>

                <p th:text="${value.equipment.name}">name</p>

                <div th:if="${value.hasDamaged}" class="list-bottom">
                    <p class="has-damaged-label">汚損/破損あり</p>
                    <p th:text="${value.damagedReason}">damagedReason</p>
                </div>
            </div>

            <input type="text" th:field="*{values[__${status.index}__].equipmentId}" hidden aria-label>
            <input type="checkbox" th:field="*{values[__${status.index}__].hasDamaged}" hidden aria-label>
            <input type="text" th:field="*{values[__${status.index}__].damagedReason}" hidden aria-label>

            <input type="text" th:field="*{values[__${status.index}__].equipment.id}" hidden aria-label>
            <input type="text" th:field="*{values[__${status.index}__].equipment.name}" hidden aria-label>
            <input type="text" th:field="*{values[__${status.index}__].equipment.categoryId}" hidden aria-label>
            <input type="text" th:field="*{values[__${status.index}__].equipment.storageLocationId}" hidden aria-label>
            <input type="text" th:field="*{values[__${status.index}__].equipment.state}" hidden aria-label>
            <input type="text" th:field="*{values[__${status.index}__].equipment.lendingPeriod}" hidden aria-label>
            <input type="text" th:field="*{values[__${status.index}__].equipment.notificationDate}" hidden aria-label>
            <input type="text" th:field="*{values[__${status.index}__].equipment.remark}" hidden aria-label>
            <input type="text" th:field="*{values[__${status.index}__].equipment.createdAt}" hidden aria-label>
        </div>
        <button type="submit" name="submit" class="submit-button">申請</button>
    </form>
</main>

</body>
</html>
<th:block th:replace="layout :: scripts"/>
<script src="/js/return/application.js"></script>
