<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>貸出申請</title>
</head>
<body>
<h1>貸出申請</h1>
<input type="number" name="equipmentId" id="equipmentId">
<button type="submit" id="add-que">＋</button>

<div id="equipment-info">
    <!-- ここに備品情報を表示 -->
</div>

<form th:action="@{/checkout/application}" method="post" >
    <input type="hidden" name="equipmentIds" id="equipmentIds" value="" >
    <button type="submit">申請</button>
</form>
</body>
</html>

<script>
    // 備品のIDを格納する配列
    let equipmentIds = [];

    // Elementを取得
    const equipmentIdElement = document.getElementById('equipmentId');
    const equipmentInfoElement = document.getElementById('equipment-info');
    const equipmentIdsElement = document.getElementById('equipmentIds');


    //　入力されたIDの備品情報を取得する非同期処理
    async function getEquipmentInfo(equipmentIdValue) {
        try {
            const url = "http://localhost:8080/checkout/application/addList?equipmentId=" + equipmentIdValue;
            //例外が発生した場合は、catchへ移動
            const response = await fetch(url, {
                method: "GET",
            });
            if (!response.ok) {
                switch (response.status) {
                    default:
                        new Error("備品情報を取得できませんでした。");
                }
            } else {
                const reserved = await response.json();

                // equipmentIdsに追加
                equipmentIds.push(equipmentIdValue);
                // equipmentIdsをhiddenに設定
                equipmentIdsElement.value = equipmentIds;

                // TODO:表示形式を整える
                equipmentInfoElement.innerHTML +=
                    `<div id="${reserved.id}">
                        ID:${reserved.id}<br />
                        備品名:${reserved.name}<br />
                        貸出期間:${reserved.lendingPeriod}日<br />
                        通知日:${reserved.notificationDate}日前
                        <button>✕</button>
                    </div>`;
            }
        } catch (err_msg) {
            alert("備品情報を取得できませんでした。");
        }
    }


    // ＋ボタンをクリックしたときの処理
    document.getElementById('add-que').addEventListener('click', () => {
        const equipmentIdValue = equipmentIdElement.value;

        // equipmentIdsにequipmentIdの値が含まれていない場合の処理
        if (!equipmentIds.includes(equipmentIdValue)) {
            // 対象の備品情報を取得
            getEquipmentInfo(equipmentIdValue);
        }

        // 入力欄を空にする
        equipmentIdElement.value = '';
    });

    // ✕ボタンをクリックしたときの処理
    document.getElementById('equipment-info').addEventListener('click', (e) => {
        if (e.target.tagName === 'BUTTON') {
            // クリックされた要素の親要素のidを取得
            const equipmentId = e.target.parentElement.id;

            // equipmentIdsから対象のequipmentIdを削除
            equipmentIds = equipmentIds.filter(id => id !== equipmentId);

            // 削除後のequipmentIdsをhiddenに設定
            equipmentIdsElement.value = equipmentIds;

            // 要素を削除
            e.target.parentElement.remove();
        }
    });

</script>