<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/html">
<th:block th:replace="layout :: head('返却申請 | 送信失敗')"/>
<body>

<th:block th:replace="layout :: header"/>

<main class="w-2/5 mx-auto">
    <div class="w-full flex justify-center my-10 ">
        <h1 class="w-11/12 py-1.5 text-center text-4xl font-bold border-b-2 border-primary">借りる</h1>
    </div>

    <p class="flex justify-center pb-12 text-error text-xl font-bold">送信時にエラーが発生しました。</p>
    <p class="flex justify-center">時間をおいて再度 送信してください。</p>
    <p class="flex justify-center pb-12">何度もエラーが出る場合はサポートにお問い合わせください。</p>
    <div class="flex justify-center">
        <a th:href="@{/checkout/application}" type="submit"
                class="px-20 py-2 text-primary font-semibold rounded-full bg-secondary whitespace-nowrap">確認
        </a>
    </div>
</main>

</body>
</html>
<th:block th:replace="layout :: scripts"/>