@charset "UTF-8";
header {
    margin: 20px;
}

main {
    text-align: center;
    margin: 0 auto;
}

h1 {
    border-width: 1rem;
    border-bottom: 3px solid #0078C8;
    width: 40%;
    margin: 0 auto;
}

.face {
    display: flex;
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

#circle {
    position: relative;
    background: #A8DCFF;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    margin: 1rem;
}

#img img{
    position: absolute;
    top: 15%;
    left: 17%;
    width: 34px;
    height: auto;
}

form {
    /*margin: 1rem;*/
    text-align: center;
}

.form {
    outline: solid 2px #0078C8;
    width: 50%;
    height: 40px;
    margin: 1.5rem;
    text-align: center;
    font-size: medium;
    border: none;
    border-radius: 0.3vh;
}

.button {
    text-align: center;
    font-size: xx-large;
    background-color: #A8DCFF;
    color: #0078C8;
    border: none;
    border-radius: 100vh;
    width: 20%;
}

.password {
    margin: 1rem;
}

