@charset "UTF-8";
header {
    margin: 20px;
}

main {
    text-align: center;
    margin: 0 auto;
}

.face {
    margin: 1.5rem 25% 1.5rem 25%;
    width: 50%;
    min-width: 250px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
}

.face #circle {
    display: table;
}

#circle {
    position: relative;
    background: #A8DCFF;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    margin-right: 1rem;
}

#img img {
    position: absolute;
    top: 15%;
    left: 17%;
    width: 34px;
    height: auto;
}

form {
    text-align: center;
}

form .contents .password {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form {
    width: 50%;
    height: 40px;
    margin-bottom: 1.5rem;
}

.button {
    text-align: center;
    font-size: xx-large;
    background-color: #A8DCFF;
    border: none;
    border-radius: 100vh;
    width: 20%;
}

.password {
    margin: 1rem;
}

