@charset "UTF-8";
body {
    background-color: #F2FAFF;
    font-family: monospace;
    font-size: x-large;
}

.error-message {
    color: #C82400;
    /*display: none;*/
    margin: 0.5rem;
}

a, .button {
    color: #0078C8;
}

label, ::placeholder {
    color: #323232;
}